In [1]:
import pandas as pd

In [2]:
names = (
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education-num',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital-gain',
    'capital-loss',
    'hours-per-week',
    'native-country',
    'income',
)

In [3]:
categorical = set((
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'sex',
    'native-country',
    'race',
    'income',
))
df = pd.read_csv("adult.data", sep=", ", header=None, names=names, index_col=False, engine='python');# We load the data using Pandas

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
for name in categorical:
    df[name] = df[name].astype('category')

In [6]:
def get_spans(df, partition, scale=None):
    """
    :param        df: the dataframe for which to calculate the spans
    :param partition: the partition for which to calculate the spans
    :param     scale: if given, the spans of each column will be divided
                      by the value in `scale` for that column
    :        returns: The spans of all columns in the partition
    """
    spans = {}
    for column in df.columns:
        if column in categorical:
            span = len(df[column][partition].unique())
        else:
            span = df[column][partition].max()-df[column][partition].min()
        if scale is not None:
            span = span/scale[column]
        spans[column] = span
    return spans

In [7]:
full_spans = get_spans(df, df.index)

In [8]:
def split(df, partition, column):
    """
    :param        df: The dataframe to split
    :param partition: The partition to split
    :param    column: The column along which to split
    :        returns: A tuple containing a split of the original partition
    """
    dfp = df[column][partition]
    if column in categorical:
        values = dfp.unique()
        lv = set(values[:len(values)//2])
        rv = set(values[len(values)//2:])
        return dfp.index[dfp.isin(lv)], dfp.index[dfp.isin(rv)]
    else:        
        median = dfp.median()
        dfl = dfp.index[dfp < median]
        dfr = dfp.index[dfp >= median]
        return (dfl, dfr)

In [9]:
def is_k_anonymous(df, partition, sensitive_column, k=10):
    """
    :param               df: The dataframe on which to check the partition.
    :param        partition: The partition of the dataframe to check.
    :param sensitive_column: The name of the sensitive column
    :param                k: The desired k
    :returns               : True if the partition is valid according to our k-anonymity criteria, False otherwise.
    """
    if len(partition) < k:
        return False
    return True

def partition_dataset(df, feature_columns, sensitive_column, scale, is_valid):
    """
    :param               df: The dataframe to be partitioned.
    :param  feature_columns: A list of column names along which to partition the dataset.
    :param sensitive_column: The name of the sensitive column (to be passed on to the `is_valid` function)
    :param            scale: The column spans as generated before.
    :param         is_valid: A function that takes a dataframe and a partition and returns True if the partition is valid.
    :returns               : A list of valid partitions that cover the entire dataframe.
    """
    finished_partitions = []
    partitions = [df.index]
    while partitions:
        partition = partitions.pop(0)
        spans = get_spans(df[feature_columns], partition, scale)
        for column, span in sorted(spans.items(), key=lambda x:-x[1]):
            lp, rp = split(df, partition, column)
            if not is_valid(df, lp, sensitive_column) or not is_valid(df, rp, sensitive_column):
                continue
            partitions.extend((lp, rp))
            break
        else:
            finished_partitions.append(partition)
    return finished_partitions

In [10]:
feature_columns = ['age', 'education-num','race','native-country','workclass']
sensitive_column = 'income'
finished_partitions = partition_dataset(df, feature_columns, sensitive_column, full_spans, is_k_anonymous)

In [11]:
# we get the number of partitions that were created
len(finished_partitions)

1125

In [12]:
def agg_categorical_column(series):
    return [','.join(set(series))]

def agg_numerical_column(series):
    return [series.mean()]

In [13]:
def build_anonymized_dataset(df, partitions, feature_columns, sensitive_column, max_partitions=None):
    aggregations = {}
    for column in feature_columns:
        if column in categorical:
            aggregations[column] = agg_categorical_column
        else:
            aggregations[column] = agg_numerical_column
    rows = []
    for i, partition in enumerate(partitions):
        if i % 100 == 1:
            print("Finished {} partitions...".format(i))
        if max_partitions is not None and i > max_partitions:
            break
        grouped_columns = df.loc[partition].agg(aggregations, squeeze=False)
        sensitive_counts = df.loc[partition].groupby(sensitive_column).agg({sensitive_column : 'count'})
        values = grouped_columns.iloc[0].to_dict()
        for sensitive_value, count in sensitive_counts[sensitive_column].items():
            if count == 0:
                continue
            values.update({
                sensitive_column : sensitive_value,
                'count' : count,

            })
            rows.append(values.copy())
    return pd.DataFrame(rows)

In [14]:
dfn = build_anonymized_dataset(df, finished_partitions, feature_columns, sensitive_column)

Finished 1 partitions...
Finished 101 partitions...
Finished 201 partitions...
Finished 301 partitions...
Finished 401 partitions...
Finished 501 partitions...
Finished 601 partitions...
Finished 701 partitions...
Finished 801 partitions...
Finished 901 partitions...
Finished 1001 partitions...
Finished 1101 partitions...

In [15]:
dfn

,age,count,education-num,income,native-country,race,workclass
0,27.111111,14,8.777778,<=50K,"?,Germany,United-States,Vietnam,Thailand,South...","Asian-Pac-Islander,Other","Self-emp-not-inc,State-gov,Self-emp-inc"
1,27.111111,4,8.777778,>50K,"?,Germany,United-States,Vietnam,Thailand,South...","Asian-Pac-Islander,Other","Self-emp-not-inc,State-gov,Self-emp-inc"
2,51.181818,9,8.545455,<=50K,"China,Philippines,?,United-States",Asian-Pac-Islander,"Local-gov,Federal-gov,State-gov,Without-pay"
3,51.181818,2,8.545455,>50K,"China,Philippines,?,United-States",Asian-Pac-Islander,"Local-gov,Federal-gov,State-gov,Without-pay"
4,49.100000,16,8.500000,<=50K,"?,United-States","Amer-Indian-Eskimo,Other","Local-gov,Federal-gov,State-gov"
5,49.100000,4,8.500000,>50K,"?,United-States","Amer-Indian-Eskimo,Other","Local-gov,Federal-gov,State-gov"
6,24.000000,10,6.000000,<=50K,"Mexico,United-States","White,Amer-Indian-Eskimo","Federal-gov,Never-worked"
7,30.200000,10,6.500000,<=50K,"Trinadad&Tobago,United-States",Black,"State-gov,Self-emp-not-inc,Self-emp-inc"
8,26.200000,9,11.700000,<=50K,"Italy,Guatemala,Japan,France,Peru,Columbia,El-...",White,"Local-gov,Federal-gov"
9,26.200000,1,11.700000,>50K,"Italy,Guatemala,Japan,France,Peru,Columbia,El-...",White,"Local-gov,Federal-gov"
10,31.238095,17,12.047619,<=50K,"?,Philippines,United-States,Vietnam,South,Indi...",Asian-Pac-Islander,"Federal-gov,Self-emp-inc"
11,31.238095,4,12.047619,>50K,"?,Philippines,United-States,Vietnam,South,Indi...",Asian-Pac-Islander,"Federal-gov,Self-emp-inc"
12,30.166667,9,10.000000,<=50K,"Ecuador,United-States","Amer-Indian-Eskimo,Other","Local-gov,Federal-gov,Self-emp-not-inc"
13,30.166667,3,10.000000,>50K,"Ecuador,United-States","Amer-Indian-Eskimo,Other","Local-gov,Federal-gov,Self-emp-not-inc"
14,29.866667,14,12.666667,<=50K,"?,United-States","Amer-Indian-Eskimo,Other","Local-gov,Federal-gov,Self-emp-not-inc,Self-em..."
15,29.866667,1,12.666667,>50K,"?,United-States","Amer-Indian-Eskimo,Other","Local-gov,Federal-gov,Self-emp-not-inc,Self-em..."
16,18.100000,10,6.000000,<=50K,"South,Peru,Scotland,Hong,England,India,Columbia","White,Amer-Indian-Eskimo","?,Private"
17,28.900000,10,5.400000,<=50K,"England,Columbia,Philippines",White,"?,Private"
18,30.166667,10,9.000000,<=50K,"Vietnam,France,Philippines,Scotland,India,Hong...","White,Amer-Indian-Eskimo","Private,Self-emp-not-inc"
19,30.166667,2,9.000000,>50K,"Vietnam,France,Philippines,Scotland,India,Hong...","White,Amer-Indian-Eskimo","Private,Self-emp-not-inc"
20,18.058824,16,6.411765,<=50K,United-States,White,"State-gov,Self-emp-inc"
21,18.058824,1,6.411765,>50K,United-States,White,"State-gov,Self-emp-inc"
22,29.529412,15,5.529412,<=50K,"Mexico,United-States",White,"State-gov,Self-emp-inc"
23,29.529412,2,5.529412,>50K,"Mexico,United-States",White,"State-gov,Self-emp-inc"
24,28.100000,9,5.400000,<=50K,"Laos,Thailand,Cambodia,India",Asian-Pac-Islander,"?,Private"
25,28.100000,1,5.400000,>50K,"Laos,Thailand,Cambodia,India",Asian-Pac-Islander,"?,Private"
26,31.642857,13,9.000000,<=50K,"Laos,Thailand,Hong,India,Taiwan,Cambodia,Iran",Asian-Pac-Islander,Private
27,31.642857,1,9.000000,>50K,"Laos,Thailand,Hong,India,Taiwan,Cambodia,Iran",Asian-Pac-Islander,Private
28,26.642857,13,4.285714,<=50K,"Trinadad&Tobago,Guatemala,Nicaragua,El-Salvado...","Black,Other","Local-gov,?,Private"
29,26.642857,1,4.285714,>50K,"Trinadad&Tobago,Guatemala,Nicaragua,El-Salvado...","Black,Other","Local-gov,?,Private"
...,...,...,...,...,...,...,...
1998,35.437500,2,7.270833,>50K,"Mexico,United-States",White,Private
1999,35.000000,171,9.000000,<=50K,United-States,White,Private
2000,35.000000,26,9.000000,>50K,United-States,White,Private
2001,36.000000,156,9.000000,<=50K,United-States,White,Private
2002,36.000000,42,9.000000,>50K,United-States,White,Private
2003,34.000000,78,10.000000,<=50K,"Germany,United-States",White,Private
2004,34.000000,40,10.000000,>50K,"Germany,United-States",White,Private
2005,35.494898,154,10.000000,<=50K,"Germany,United-States",White,Private
2006,35.494898,42,10.000000,>50K,"Germany,United-States",White,Private
2007,35.440000,31,11.000000,<=50K,"Puerto-Rico,Germany,United-States",White,Private
2008,35.440000,19,11.000000,>50K,"Puerto-Rico,Germany,United-States",White,Private
2009,60.000000,12,4.000000,<=50K,"Cuba,United-States",White,Private
2010,60.000000,1,4.000000,>50K,"Cuba,United-States",White,Private
2011,61.368421,18,4.000000,<=50K,"Cuba,United-States",White,Private
2012,61.368421,1,4.000000,>50K,"Cuba,United-States",White,Private
2013,60.000000,10,6.454545,<=50K,United-States,White,Private
2014,60.000000,1,6.454545,>50K,United-States,White,Private
2015,61.260870,21,6.521739,<=50K,"Italy,Mexico,United-States",White,Private
2016,61.260870,2,6.521739,>50K,"Italy,Mexico,United-States",White,Private
2017,71.000000,9,9.000000,<=50K,United-States,White,Private
2018,71.000000,2,9.000000,>50K,United-States,White,Private
2019,72.529412,17,9.000000,<=50K,"?,United-States,Cuba,England,Canada",White,Private
2020,56.000000,17,13.476190,<=50K,"?,United-States,Cuba,Mexico,Canada",White,Private
2021,56.000000,25,13.476190,>50K,"?,United-States,Cuba,Mexico,Canada",White,Private
2022,57.000000,14,13.476190,<=50K,"Cuba,?,Poland,United-States",White,Private
2023,57.000000,28,13.476190,>50K,"Cuba,?,Poland,United-States",White,Private
2024,35.000000,15,12.000000,<=50K,"Puerto-Rico,United-States",White,Private
2025,35.000000,7,12.000000,>50K,"Puerto-Rico,United-States",White,Private
2026,36.000000,20,12.000000,<=50K,United-States,White,Private
2027,36.000000,10,12.000000,>50K,United-States,White,Private

In [ ]:
4120 volt az előző