In [1]:
import pandas as pd
import numpy as np

THE_MOST_IMPORTANT_K = 32 #Changed this, so i can use it in the split function as well, without any kind of refactoring.

In [2]:
names = (
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education-num',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital-gain',
    'capital-loss',
    'hours-per-week',
    'native-country',
    'income',
)

In [3]:
categorical = set((
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'sex',
    'native-country',
    'race',
    'income',
))
df = pd.read_csv("adult.data", sep=", ", header=None, names=names, index_col=False, engine='python');# We load the data using Pandas

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
for name in categorical:
    df[name] = df[name].astype('category')

In [6]:
def get_spans(df, partition, scale=None):
    """
    :param        df: the dataframe for which to calculate the spans
    :param partition: the partition for which to calculate the spans
    :param     scale: if given, the spans of each column will be divided
                      by the value in `scale` for that column
    :        returns: The spans of all columns in the partition
    """
    spans = {}
    for column in df.columns:
        if column in categorical:
            span = len(df[column][partition].unique())
        else:
            span = df[column][partition].max()-df[column][partition].min()
        if scale is not None:
            span = span/scale[column]
        spans[column] = span
    return spans

In [7]:
full_spans = get_spans(df, df.index)

In [8]:
def split(df, partition, column):
    """
    :param        df: The dataframe to split
    :param partition: The partition to split
    :param    column: The column along which to split
    :        returns: A tuple containing a split of the original partition
    """
    dfp = df[column][partition]
    if column in categorical:
        # Commenting out the next 4 lines should make the world a better place, but who am i to know this for sure...
        # But it does not... Reality is often disappointing.... -_- 
        values = dfp.unique()
        lv = set(values[:len(values)//2])
        rv = set(values[len(values)//2:])
        return dfp.index[dfp.isin(lv)], dfp.index[dfp.isin(rv)]
        
        indexes = dfp.value_counts().index
        values = dfp.value_counts().values
        
        zipped = zip(indexes,values)
        sortedvals = np.array(sorted(zipped, key=lambda x: x[1]))
        sortedvalues = np.array(sortedvals[:,1],dtype=int)
        cumulated = np.cumsum(sortedvalues)
        
        bestindex = 0
        for i in range(len(cumulated)):
            if cumulated[i]>=THE_MOST_IMPORTANT_K and (cumulated[-1]-cumulated[i])>=THE_MOST_IMPORTANT_K and cumulated[i]<cumulated[-1]/2:
                bestindex = i
        if cumulated[bestindex+1]>=THE_MOST_IMPORTANT_K and (cumulated[-1]-cumulated[bestindex+1])>=THE_MOST_IMPORTANT_K:
            if np.abs(cumulated[-1]/2-cumulated[bestindex])>np.abs(cumulated[-1]/2-cumulated[bestindex+1]):
                bestindex+=1
        
        lv = set(sortedvals[:bestindex,0])
        rv = set(sortedvals[bestindex:,0])
        return dfp.index[dfp.isin(lv)], dfp.index[dfp.isin(rv)]
    else:        
        median = dfp.median()
        dfl = dfp.index[dfp < median]
        dfr = dfp.index[dfp >= median]
        
        if len(dfl) < THE_MOST_IMPORTANT_K or len(dfr) < THE_MOST_IMPORTANT_K:
            median = dfp.mean() #Very clever hack, 200IQ code... xD
        
        dfl = dfp.index[dfp < median]
        dfr = dfp.index[dfp >= median]
        
        return (dfl, dfr)

In [9]:
def is_k_anonymous(df, partition, sensitive_column):
    """
    :param               df: The dataframe on which to check the partition.
    :param        partition: The partition of the dataframe to check.
    :param sensitive_column: The name of the sensitive column
    :param                k: The desired k
    :returns               : True if the partition is valid according to our k-anonymity criteria, False otherwise.
    """
    #COMMENT OUT THE NEXT 4 LINES IF WE DO NOT WANT TO ENFORCE DIFFERENT SENSITIVE COLUMNS IN PARTITIONS
    
    #sensitive_counts = df.loc[partition].groupby(sensitive_column).agg({sensitive_column : 'count'})
    #for sensitive_value, count in sensitive_counts[sensitive_column].items():
        #if count == 0:
            #return False
    
    if len(partition) < THE_MOST_IMPORTANT_K:
        return False
    return True

def partition_dataset(df, feature_columns, sensitive_column, scale, is_valid):
    """
    :param               df: The dataframe to be partitioned.
    :param  feature_columns: A list of column names along which to partition the dataset.
    :param sensitive_column: The name of the sensitive column (to be passed on to the `is_valid` function)
    :param            scale: The column spans as generated before.
    :param         is_valid: A function that takes a dataframe and a partition and returns True if the partition is valid.
    :returns               : A list of valid partitions that cover the entire dataframe.
    """
    finished_partitions = []
    partitions = [df.index]
    while partitions:
        partition = partitions.pop(0)
        #Lil' faster
        if len(partition)<2*THE_MOST_IMPORTANT_K:
            finished_partitions.append(partition)
            continue
        spans = get_spans(df[feature_columns], partition, scale)
        for column, span in sorted(spans.items(), key=lambda x:-x[1]):
            lp, rp = split(df, partition, column)
            if not is_valid(df, lp, sensitive_column) or not is_valid(df, rp, sensitive_column):
                continue
            partitions.extend((lp, rp))
            break
        else:
            finished_partitions.append(partition)
    return finished_partitions

In [10]:
feature_columns = ['age', 'education-num','race','native-country','workclass']
sensitive_column = 'income'
finished_partitions = partition_dataset(df, feature_columns, sensitive_column, full_spans, is_k_anonymous)

In [11]:
# we get the number of partitions that were created
len(finished_partitions)

527

In [12]:
def agg_categorical_column(series):
    return [','.join(set(series))]

def agg_numerical_column(series):
    return [series.mean()]

In [13]:
def build_anonymized_dataset_2(df, partitions, feature_columns, sensitive_column, max_partitions=None):
    aggregations = {}
    for column in feature_columns:
        if column in categorical:
            aggregations[column] = agg_categorical_column
        else:
            aggregations[column] = agg_numerical_column
    rows = []
    for i, partition in enumerate(partitions):
        if i % 100 == 1:
            print("Finished {} partitions...".format(i))
        if max_partitions is not None and i > max_partitions:
            break
        grouped_columns = df.loc[partition].agg(aggregations, squeeze=False)
        sensitive_counts = df.loc[partition].groupby(sensitive_column).agg({sensitive_column : 'count'})
        values = grouped_columns.iloc[0].to_dict()
        IsOkay = True
        #COMMENT OUT THE NEXT 3 LINES IF WE DO NOT WANT TO ENFORCE DIFFERENT SENSITIVE COLUMNS IN PARTITIONS
        #for sensitive_value, count in sensitive_counts[sensitive_column].items():
            #if count == 0:
                #IsOkay=False
        if IsOkay:
            for rowind in range(len(df.loc[partition])):
                currow = df.loc[partition].iloc[rowind,:].copy()
                for feature in feature_columns:
                    currow[feature]=grouped_columns[feature][0]
                rows.append(currow.copy())
    return pd.DataFrame(rows)

In [14]:
dfn2 = build_anonymized_dataset_2(df, finished_partitions, feature_columns, sensitive_column)

Finished 1 partitions...
Finished 101 partitions...
Finished 201 partitions...
Finished 301 partitions...
Finished 401 partitions...
Finished 501 partitions...

In [15]:
dfn2

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
1854,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",229842,HS-grad,8.491228,Never-married,Transport-moving,Unmarried,"Asian-Pac-Islander,Other,Black",Male,0,0,45,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
2130,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",130620,11th,8.491228,Separated,Adm-clerical,Unmarried,"Asian-Pac-Islander,Other,Black",Female,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
3179,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",216129,12th,8.491228,Never-married,Other-service,Not-in-family,"Asian-Pac-Islander,Other,Black",Female,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
3376,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",462890,10th,8.491228,Married-civ-spouse,Transport-moving,Husband,"Asian-Pac-Islander,Other,Black",Male,0,0,50,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
3812,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",70447,HS-grad,8.491228,Married-civ-spouse,Protective-serv,Husband,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",>50K
3909,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",139057,HS-grad,8.491228,Married-civ-spouse,Exec-managerial,Husband,"Asian-Pac-Islander,Other,Black",Male,0,0,84,"South,Germany,Thailand,Vietnam,Dominican-Repub...",>50K
4066,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",288585,HS-grad,8.491228,Married-civ-spouse,Other-service,Wife,"Asian-Pac-Islander,Other,Black",Female,0,0,20,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
4457,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",93589,HS-grad,8.491228,Divorced,Protective-serv,Own-child,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
6316,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",93076,HS-grad,8.491228,Never-married,Other-service,Own-child,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
7404,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",493034,HS-grad,8.491228,Never-married,Other-service,Not-in-family,"Asian-Pac-Islander,Other,Black",Male,13550,0,50,"South,Germany,Thailand,Vietnam,Dominican-Repub...",>50K
8003,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",179171,HS-grad,8.491228,Never-married,Sales,Unmarried,"Asian-Pac-Islander,Other,Black",Female,0,0,38,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
9069,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",61431,12th,8.491228,Never-married,Adm-clerical,Not-in-family,"Asian-Pac-Islander,Other,Black",Female,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
9128,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",119422,HS-grad,8.491228,Never-married,Other-service,Unmarried,"Asian-Pac-Islander,Other,Black",Female,0,0,30,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
9678,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",190450,HS-grad,8.491228,Married-civ-spouse,Sales,Husband,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
9951,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",73296,HS-grad,8.491228,Never-married,Other-service,Unmarried,"Asian-Pac-Islander,Other,Black",Female,1831,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
10605,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",137674,HS-grad,8.491228,Married-civ-spouse,Other-service,Husband,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
10984,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",73514,HS-grad,8.491228,Never-married,Adm-clerical,Own-child,"Asian-Pac-Islander,Other,Black",Female,0,0,30,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
11239,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",308874,HS-grad,8.491228,Never-married,Craft-repair,Not-in-family,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
11287,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",247075,HS-grad,8.491228,Never-married,Adm-clerical,Unmarried,"Asian-Pac-Islander,Other,Black",Female,0,0,20,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
11684,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",312767,HS-grad,8.491228,Never-married,Sales,Unmarried,"Asian-Pac-Islander,Other,Black",Female,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
14284,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",325171,10th,8.491228,Never-married,Other-service,Own-child,"Asian-Pac-Islander,Other,Black",Male,0,0,35,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
14382,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",278073,HS-grad,8.491228,Never-married,Machine-op-inspct,Other-relative,"Asian-Pac-Islander,Other,Black",Male,0,0,30,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
15147,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",242122,HS-grad,8.491228,Separated,Adm-clerical,Unmarried,"Asian-Pac-Islander,Other,Black",Female,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
15533,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",232719,HS-grad,8.491228,Never-married,Craft-repair,Own-child,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
15737,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",201186,HS-grad,8.491228,Married-civ-spouse,Sales,Husband,"Asian-Pac-Islander,Other,Black",Male,99999,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",>50K
15937,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",287908,HS-grad,8.491228,Never-married,Other-service,Own-child,"Asian-Pac-Islander,Other,Black",Male,0,0,42,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
16223,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",278522,11th,8.491228,Never-married,Farming-fishing,Own-child,"Asian-Pac-Islander,Other,Black",Male,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
16427,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",310525,12th,8.491228,Never-married,Craft-repair,Not-in-family,"Asian-Pac-Islander,Other,Black",Male,0,0,32,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
17588,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",180283,HS-grad,8.491228,Never-married,Other-service,Not-in-family,"Asian-Pac-Islander,Other,Black",Female,0,0,40,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
17674,28.929825,"State-gov,Self-emp-inc,Self-emp-not-inc,Never-...",437890,HS-grad,8.491228,Never-married,Exec-managerial,Unmarried,"Asian-Pac-Islander,Other,Black",Male,0,0,90,"South,Germany,Thailand,Vietnam,Dominican-Repub...",<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14847,50.454545,Private,165614,Masters,14.000000,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,55,United-States,>50K
15382,50.454545,Private,108435,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,47,United-States,>50K
15408,50.454545,Private,338620,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
16333,50.454545,Private,220019,Masters,14.000000,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,<=50K
16496,50.454545,Private,221672,Masters,14.000000,Married-civ-spouse,Sales,Husband,White,Male,15024,0,50,United-States,>50K
16989,50.454545,Private,104501,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
19247,50.454545,Private,237868,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
19563,50.454545,Private,22211,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
19643,50.454545,Private,204447,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,65,United-States,>50K
20684,50.454545,Private,138852,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States,>50K
20756,50.454545,Private,234373,Masters,14.000000,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1485,40,United-States,<=50K
21206,50.454545,Private,158680,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
21373,50.454545,Private,188186,Masters,14.000000,Divorced,Sales,Not-in-family,White,Female,0,1590,45,United-States,<=50K
22390,50.454545,Private,168212,Masters,14.000000,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,45,United-States,>50K
23279,50.454545,Private,194231,Masters,14.000000,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,>50K
23874,50.454545,Private,163948,Masters,14.000000,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
24125,50.454545,Private,206862,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,65,United-States,>50K
24744,50.454545,Private,162238,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,47,United-States,>50K
25914,50.454545,Private,172046,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,50,United-States,>50K
27226,50.454545,Private,48343,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,50,United-States,>50K
27585,50.454545,Private,123429,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
29623,50.454545,Private,95329,Masters,14.000000,Divorced,Protective-serv,Unmarried,White,Male,0,0,40,United-States,<=50K
29741,50.454545,Private,22211,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,50,United-States,>50K
29892,50.454545,Private,673764,Masters,14.000000,Never-married,Prof-specialty,Not-in-family,White,Male,27828,0,40,United-States,>50K
30248,50.454545,Private,154342,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
31013,50.454545,Private,187830,Masters,14.000000,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,62,United-States,>50K
31400,50.454545,Private,201882,Masters,14.000000,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
31727,50.454545,Private,176157,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
32017,50.454545,Private,99476,Masters,14.000000,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,<=50K
32504,50.454545,Private,208630,Masters,14.000000,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K

In [16]:
import matplotlib.pyplot as plt
import numpy as np

sizes = np.zeros(len(finished_partitions))
for i in range(len(finished_partitions)):
    sizes[i]=finished_partitions[i].shape[0]

plt.figure()
plt.hist(sizes)
plt.savefig(str(THE_MOST_IMPORTANT_K)+"_census.png")

In [17]:
#ONE HOT encoding the whole thing

uniqitems = {}
for col in feature_columns:
    if col in categorical:
        uniqitems[col]=df[col].unique()

rows = []

for rowind in range(len(dfn2)):
    if rowind %100 ==0:
        print(rowind/len(dfn2)*100)
    currow = dfn2.iloc[rowind,:].copy()
    for col in feature_columns:
        if col in categorical:
            values = currow[col].split(',')
            
            for possibleitem in uniqitems[col]:
                if possibleitem in values:
                    currow=currow.append(pd.Series([1/len(values)],[col+'_'+possibleitem]))
                else:
                    currow=currow.append(pd.Series([0],[col+'_'+possibleitem]))
            currow=currow.drop(col)
    rows.append(currow.copy())

0.0
0.3071158748195694
0.6142317496391388
0.9213476244587083
1.2284634992782777
1.5355793740978472
1.8426952489174167
2.149811123736986
2.4569269985565554
2.7640428733761246
3.0711587481956943
3.3782746230152636
3.6853904978348333
3.992506372654402
4.299622247473972
4.606738122293541
4.913853997113111
5.220969871932681
5.528085746752249
5.835201621571819
6.142317496391389
6.449433371210958
6.756549246030527
7.0636651208500965
7.370780995669667
7.677896870489236
7.985012745308804
8.292128620128375
8.599244494947945
8.906360369767514
9.213476244587081
9.520592119406652
9.827707994226222
10.13482386904579
10.441939743865362
10.74905561868493
11.056171493504499
11.363287368324068
11.670403243143639
11.977519117963208
12.284634992782777
12.591750867602347
12.898866742421916
13.205982617241485
13.513098492061054
13.820214366880624
14.127330241700193
14.434446116519764
14.741561991339333
15.048677866158902
15.355793740978472
15.662909615798041
15.970025490617608
16.277141365437178
16.58425724025675
16.89137311507632
17.19848898989589
17.50560486471546
17.812720739535028
18.119836614354597
18.426952489174163
18.734068363993735
19.041184238813305
19.348300113632874
19.655415988452443
19.962531863272012
20.26964773809158
20.57676361291115
20.883879487730724
21.19099536255029
21.49811123736986
21.805227112189428
22.112342987008997
22.419458861828566
22.726574736648136
23.03369061146771
23.340806486287278
23.647922361106847
23.955038235926416
24.262154110745985
24.569269985565555
24.876385860385124
25.183501735204693
25.490617610024263
25.79773348484383
26.1048493596634
26.41196523448297
26.71908110930254
27.02619698412211
27.333312858941678
27.640428733761247
27.947544608580817
28.254660483400386
28.56177635821996
28.868892233039528
29.176008107859097
29.483123982678666
29.790239857498236
30.097355732317805
30.404471607137374
30.711587481956943
31.018703356776513
31.325819231596082
31.63293510641565
31.940050981235217
32.24716685605479
32.554282730874355
32.86139860569393
33.1685144805135
33.47563035533307
33.78274623015264
34.089862104972205
34.39697797979178
34.704093854611344
35.01120972943092
35.31832560425048
35.625441479070055
35.93255735388962
36.239673228709194
36.54678910352876
36.853904978348325
37.1610208531679
37.46813672798747
37.77525260280704
38.08236847762661
38.38948435244618
38.69660022726575
39.00371610208532
39.310831976904886
39.61794785172445
39.925063726544025
40.23217960136359
40.53929547618316
40.84641135100273
41.1535272258223
41.46064310064187
41.76775897546145
42.07487485028101
42.38199072510058
42.68910659992015
42.99622247473972
43.30333834955929
43.610454224378856
43.91757009919843
44.224685974017994
44.53180184883757
44.83891772365713
45.146033598476706
45.45314947329627
45.760265348115844
46.06738122293542
46.37449709775498
46.681612972574555
46.98872884739412
47.295844722213694
47.60296059703326
47.91007647185283
48.2171923466724
48.52430822149197
48.83142409631154
49.13853997113111
49.445655845950675
49.75277172077025
50.059887595589814
50.36700347040939
50.67411934522895
50.981235220048525
51.28835109486809
51.59546696968766
51.90258284450723
52.2096987193268
52.51681459414637
52.82393046896594
53.13104634378551
53.43816221860508
53.74527809342465
54.05239396824422
54.35950984306379
54.666625717883356
54.97374159270293
55.280857467522495
55.58797334234207
55.89508921716163
56.202205091981206
56.50932096680077
56.816436841620344
57.12355271643992
57.43066859125948
57.737784466079056
58.04490034089862
58.352016215718194
58.65913209053776
58.96624796535733
59.2733638401769
59.58047971499647
59.88759558981604
60.19471146463561
60.501827339455176
60.80894321427475
61.11605908909431
61.42317496391389
61.73029083873346
62.037406713553025
62.3445225883726
62.651638463192164
62.95875433801174
63.2658702128313
63.572986087650875
63.880101962470434
64.18721783729
64.49433371210958
64.80144958692915
65.10856546174871
65.41568133656828
65.72279721138786
66.02991308620743
66.337028961027
66.64414483584656
66.95126071066613
67.2583765854857
67.56549246030528
67.87260833512484
68.17972420994441
68.48684008476398
68.79395595958356
69.10107183440311
69.40818770922269
69.71530358404226
70.02241945886183
70.3295353336814
70.63665120850096
70.94376708332054
71.25088295814011
71.55799883295968
71.86511470777924
72.17223058259881
72.47934645741839
72.78646233223796
73.09357820705752
73.40069408187709
73.70780995669665
74.01492583151624
74.3220417063358
74.62915758115537
74.93627345597494
75.24338933079451
75.55050520561409
75.85762108043365
76.16473695525322
76.47185283007278
76.77896870489236
77.08608457971192
77.3932004545315
77.70031632935105
78.00743220417064
78.3145480789902
78.62166395380977
78.92877982862935
79.2358957034489
79.54301157826849
79.85012745308805
80.15724332790762
80.46435920272718
80.77147507754677
81.07859095236633
81.3857068271859
81.69282270200546
81.99993857682503
82.3070544516446
82.61417032646418
82.92128620128373
83.22840207610331
83.5355179509229
83.84263382574245
84.14974970056203
84.45686557538158
84.76398145020116
85.07109732502073
85.3782131998403
85.68532907465986
85.99244494947943
86.29956082429901
86.60667669911858
86.91379257393814
87.22090844875771
87.52802432357728
87.83514019839686
88.14225607321643
88.44937194803599
88.75648782285556
89.06360369767513
89.3707195724947
89.67783544731427
89.98495132213384
90.29206719695341
90.59918307177298
90.90629894659254
91.21341482141212
91.52053069623169
91.82764657105126
92.13476244587083
92.44187832069039
92.74899419550997
93.05611007032954
93.36322594514911
93.67034181996867
93.97745769478824
94.28457356960782
94.59168944442739
94.89880531924695
95.20592119406652
95.51303706888609
95.82015294370566
96.12726881852522
96.4343846933448
96.74150056816437
97.04861644298394
97.35573231780351
97.66284819262307
97.96996406744265
98.27707994226222
98.58419581708179
98.89131169190135
99.19842756672092
99.5055434415405
99.81265931636007

In [18]:
final_set = pd.DataFrame(rows)

In [19]:
final_set.to_csv(str(THE_MOST_IMPORTANT_K)+"_census.csv")

In [20]:
final_set

,age,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,...,native-country_Holand-Netherlands,workclass_State-gov,workclass_Self-emp-not-inc,workclass_Private,workclass_Federal-gov,workclass_Local-gov,workclass_?,workclass_Self-emp-inc,workclass_Without-pay,workclass_Never-worked
0,28.929825,229842,HS-grad,8.491228,Never-married,Transport-moving,Unmarried,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
1,28.929825,130620,11th,8.491228,Separated,Adm-clerical,Unmarried,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
2,28.929825,216129,12th,8.491228,Never-married,Other-service,Not-in-family,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
3,28.929825,462890,10th,8.491228,Married-civ-spouse,Transport-moving,Husband,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
4,28.929825,70447,HS-grad,8.491228,Married-civ-spouse,Protective-serv,Husband,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
5,28.929825,139057,HS-grad,8.491228,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
6,28.929825,288585,HS-grad,8.491228,Married-civ-spouse,Other-service,Wife,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
7,28.929825,93589,HS-grad,8.491228,Divorced,Protective-serv,Own-child,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
8,28.929825,93076,HS-grad,8.491228,Never-married,Other-service,Own-child,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
9,28.929825,493034,HS-grad,8.491228,Never-married,Other-service,Not-in-family,Male,13550,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
10,28.929825,179171,HS-grad,8.491228,Never-married,Sales,Unmarried,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
11,28.929825,61431,12th,8.491228,Never-married,Adm-clerical,Not-in-family,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
12,28.929825,119422,HS-grad,8.491228,Never-married,Other-service,Unmarried,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
13,28.929825,190450,HS-grad,8.491228,Married-civ-spouse,Sales,Husband,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
14,28.929825,73296,HS-grad,8.491228,Never-married,Other-service,Unmarried,Female,1831,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
15,28.929825,137674,HS-grad,8.491228,Married-civ-spouse,Other-service,Husband,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
16,28.929825,73514,HS-grad,8.491228,Never-married,Adm-clerical,Own-child,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
17,28.929825,308874,HS-grad,8.491228,Never-married,Craft-repair,Not-in-family,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
18,28.929825,247075,HS-grad,8.491228,Never-married,Adm-clerical,Unmarried,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
19,28.929825,312767,HS-grad,8.491228,Never-married,Sales,Unmarried,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
20,28.929825,325171,10th,8.491228,Never-married,Other-service,Own-child,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
21,28.929825,278073,HS-grad,8.491228,Never-married,Machine-op-inspct,Other-relative,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
22,28.929825,242122,HS-grad,8.491228,Separated,Adm-clerical,Unmarried,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
23,28.929825,232719,HS-grad,8.491228,Never-married,Craft-repair,Own-child,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
24,28.929825,201186,HS-grad,8.491228,Married-civ-spouse,Sales,Husband,Male,99999,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
25,28.929825,287908,HS-grad,8.491228,Never-married,Other-service,Own-child,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
26,28.929825,278522,11th,8.491228,Never-married,Farming-fishing,Own-child,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
27,28.929825,310525,12th,8.491228,Never-married,Craft-repair,Not-in-family,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
28,28.929825,180283,HS-grad,8.491228,Never-married,Other-service,Not-in-family,Female,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
29,28.929825,437890,HS-grad,8.491228,Never-married,Exec-managerial,Unmarried,Male,0,0,...,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,50.454545,165614,Masters,14.000000,Never-married,Prof-specialty,Not-in-family,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32532,50.454545,108435,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32533,50.454545,338620,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,15024,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32534,50.454545,220019,Masters,14.000000,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32535,50.454545,221672,Masters,14.000000,Married-civ-spouse,Sales,Husband,Male,15024,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32536,50.454545,104501,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32537,50.454545,237868,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32538,50.454545,22211,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,Male,0,1902,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32539,50.454545,204447,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,15024,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32540,50.454545,138852,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,15024,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32541,50.454545,234373,Masters,14.000000,Married-civ-spouse,Exec-managerial,Wife,Female,0,1485,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32542,50.454545,158680,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32543,50.454545,188186,Masters,14.000000,Divorced,Sales,Not-in-family,Female,0,1590,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32544,50.454545,168212,Masters,14.000000,Married-civ-spouse,Craft-repair,Husband,Male,0,1902,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32545,50.454545,194231,Masters,14.000000,Divorced,Sales,Not-in-family,Female,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32546,50.454545,163948,Masters,14.000000,Married-civ-spouse,Sales,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32547,50.454545,206862,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32548,50.454545,162238,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,1887,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32549,50.454545,172046,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,1977,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32550,50.454545,48343,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,7298,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32551,50.454545,123429,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32552,50.454545,95329,Masters,14.000000,Divorced,Protective-serv,Unmarried,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32553,50.454545,22211,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,Male,7688,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32554,50.454545,673764,Masters,14.000000,Never-married,Prof-specialty,Not-in-family,Male,27828,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32555,50.454545,154342,Masters,14.000000,Married-civ-spouse,Prof-specialty,Husband,Male,7688,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32556,50.454545,187830,Masters,14.000000,Divorced,Exec-managerial,Not-in-family,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32557,50.454545,201882,Masters,14.000000,Married-civ-spouse,Machine-op-inspct,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32558,50.454545,176157,Masters,14.000000,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32559,50.454545,99476,Masters,14.000000,Divorced,Prof-specialty,Not-in-family,Female,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32560,50.454545,208630,Masters,14.000000,Divorced,Sales,Not-in-family,Female,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0